{% extends 'base.html.twig' %}

{% block body %}



    <h1>{{ post.title }}</h1>
    <em>{{ post.category }}</em>
    <p>{{ post.text }}</p>
    <hr>
    <img src="{{ '/uploads/' ~ post.image }}">
    

{% endblock %}